@font-face
{
    font-family: "computerType";
    src: url(Inconsolata.otf);
}

div.header
{
    background-color: lightblue;
    border-style: none none solid;
    width: 100%;
    position: fixed;
    top: 0;
    line-height: normal;
    z-index: 2;
}

div.sidebar
{
    border-style: none none none solid;
    height: 100%;
    width: 27%;
    right: 0;
    position: fixed;
    z-index: 1;
}

.spaced
{
    margin-left: 15px;
}

a
{
    font-family: "computerType";
    font-size: 30px;
    color: blue;
}

a: visited
{
    font-family: "computerType";
    color: purple;
    font-size: 15px;
}

div.feed
{
    width: 72.75%;
    left: 0;
    height: 100%;
    position: fixed;
    z-index: 0;
}

ul
{
    font-family: "computerType";
}

.icon
{
    display: block;
    margin: 0 auto;
}

.center
{
    text-align: center;
}

p, h3
{
    font-family: "computerType";
}

p.center
{
    font-family: "computerType";
    text-align: center;
}

p.large
{
    font-family: "computerType";
    font-size: 15px;
}

p.title
{
    font-family: "computerType";
    font-size: 25px;
    text-align: center;
}

html, body {
    width:100%;
    margin:0;
    padding:0;
}